@import 'tailwindcss';

@theme {
  --color-bg: #fff;

  --color-primary: #4C00FF;
  --color-primary-dark: #b2248c;
  --color-primary-frame: rgba(183, 236, 93, 0.3);
  --color-primary-linear: rgb(183, 236, 93);

  --color-secondary: #ffffff;
  --color-secondary-dark: #222222;
  --color-secondary-tint: #4C00FF;

  --color-success: #b2248c;
  --color-success-dark: #b2248c;
  --color-success-tint: #d9ff99;

  --color-danger: #f93819;
  --color-danger-dark: #a01600;
  --color-danger-tint: #ffa394;

  --color-pen-black: #b2248c;
  --color-pen-blue: #0066ff;
  --color-pen-red: #f93819;

  --color-gray-10: #e6e6e6;
  --color-gray-20: #cccccc;
  --color-gray-30: #b3b3b3;
  --color-gray-40: #999999;
  --color-gray-50: #808080;
  --color-gray-60: #b2248c;
  --color-gray-70: #4d4d4d;
  --color-gray-80: #333333;
  --color-gray-90: #1a1a1a;

  --ease-in-page: cubic-bezier(1, 0.5, 0.8, 1);
}



/* Map custom CSS variables to Tailwind utility-like classes */
.bg-primary {
  background-color: var(--color-primary);
}
.text-primary {
  color: var(--color-primary);
}
.bg-success {
  background-color: var(--color-success);
}
.text-success {
  color: var(--color-success);
}
.bg-danger {
  background-color: var(--color-danger);
}
.text-danger {
  color: var(--color-danger);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.text-secondary {
  color: var(--color-secondary);
}
