@layer components {
  .content {
    width: 100%;
    height: calc(100dvh - 120px);
    background-color: #f3f4f6;
    padding: 0.75rem;
    position: relative;
    border-radius: 20px;
  }

  @media (min-width: 768px) {
    .content {
      padding: 1rem 1.75rem;
      width: 100%;
      height: calc(100dvh - 175px);
    }
  }

  .toolbar {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .toolbar li {
    cursor: pointer;
  }

  .toolbar img {
    width: 1.75rem;
  }

  @media (min-width: 768px) {
    .toolbar img {
      width: 2.25rem;
    }
  }

  .title {
    border-bottom: 2px solid var(--color-primary);
    padding: 0.25rem 1rem;
  }

  @media (min-width: 768px) {
    .title {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
